[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/iterm"]
	path = .config/iterm
	url = https://github.com/kiprasmel/iterm-config.git
[submodule ".config/yabai"]
	path = .config/yabai
	url = https://github.com/kiprasmel/yabai-config.git
